
<a href="/contacts/<%= @contact.id %>/edit">Edit</a>

<table class="table table-striped">
<th>Name</th>
<th>Price</th>
<th>Image</th>
<th>Description</th>

<tr>
<td><%= @contact.first_name %> </td>
<td><%= @contact.last_name %> </td>
<td><%=@contact.email %></td>
<td><%=@contact.phone_number %></td>
</tr>
</table>


<%= link_to "Delete", "/contacts/#{@contact.id}", method: :delete %>

    <p>Page updated <%= @contact.friendly_updated_at %></p>



